@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #eaeff1;
  font-family: "Poppins", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: #35a29f;
}

.card {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
  width: 350px;
  height: 400px;
  background-color: white;
  border: 1px solid #bacdd8;
  box-shadow: 0 40px 40px rgba(0, 0, 0, 0.5);
  padding: 8px;
  border-radius: 12px;
  margin-top: 15px;
  line-height: 1.5;
  text-align: center;
}

h3 {
  font-size: 2rem;
  color: #071952;
}

.card p {
  font-weight: 800;
  font-size: 1.2rem;
}

.card span {
  font-size: 1.2rem;
  font-weight: 800;
  margin-top: 0;
  color: #071952;
}

.card .input-box {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
  color: #071952;
}
::placeholder {
  color: #071952;
  opacity: 0.4;
  font-size: 0.7rem;
  text-align: left;
}
.card .input i {
  margin-right: 0;
  font-size: 1.5rem;
}

.card input {
  outline: none;
  border: none;
  border-bottom: 2px solid #071952;
  text-transform: capitalize;
  font-weight: 600;
  font-size: 0.8rem;
  flex: 1;
  padding: 5px;
  text-align: center;
  margin-left: 10px;
  max-width: 150px;
}

.btn {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  margin-top: 20px;
}
.card button {
  border-radius: 18px;
  padding: 10px 20px;
  background-color: #0b666a;
  font-weight: 600;
  color: #fff;
  outline: none;
  border: none;
  width: 30%;
  cursor: pointer;
}

.card button:hover {
  background-color: #35a29f;
  opacity: 0.8;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
